{% extends 'blog/base.html' %}

{% block head_title %}
{{ post.title }}
{% endblock %}

{% block main_area %}
<!-- Post header-->
<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
    {% if post.hook_text %}
    <h5 class="text-muted"> {{post.hook_text}} </h5>
    {% endif %}
    <h5>{{post.author | upper}}</h5>
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">Post at {{ post.created_at }}</div>
    <!-- Post categories-->
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
</header>
<!-- Preview image figure-->
{% if post.head_image %}
<img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." />
{% else %}
<img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/600/200" alt="..." />
{% endif %}
<!-- Post content-->
<section class="mb-5">
    {{ post.content }}
</section>

{% if post.file_upload %}
<a href="{{ post.file_upload.url }}" type="button" class="btn btn-outline-dark" role="button" download>download:
    {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
    <i class="far fa-file-excel"></i>
    {% elif post.get_file_ext == 'csv' %}
    <i class="fas fa-file-csv"></i>
    {% else %}
    <i class="far fa-file"></i>
    {% endif %}
    {{ post.get_file_name }}
</a>
{% endif %}
<hr />

<!-- Comments section-->
<div class="card bg-light" id="comment-area">
    <h5 class="card-header">Leave a comment</h5>
    <div class="card-body">
        <!-- Comment form-->
        <form class="mb-4"><textarea class="form-control" rows="3"
                placeholder="Join the discussion and leave a comment!"></textarea></form>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
{% endblock %}