{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ post.title }}
{% endblock %}

{% block main_area %}
<!-- Post header-->
<div class="mb-4" id="post-area">
    <!-- Post title-->
    <!-- Post categories-->
    {% if post.category %}
    <span class="badge badge-secondary float-right">{{ post.category }}</span>
    {% else %}
    <span class="badge badge-secondary float-right">No category</span>
    {% endif %}
    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
    {% if post.hook_text %}
    <h5 class="text-muted"> {{post.hook_text}} </h5>
    {% endif %}
    <h5>{{post.author | upper}}</h5>
    <hr>
    <!-- Edit button -->
    {% if user.is_authenticated and user == post.author %}
    <a type="button" href="/blog/update_post/{{ post.pk }}" class="btn btn-primary btn-sm float-right"><i
            class="fas fa-pen"></i>&nbsp;
        Edit a post</a>
    {% endif %}

    <div class="text-muted fst-italic mb-2">Post at {{ post.created_at }}</div>
    <hr>
    <!-- Preview image figure-->
    <div class="card mb-4">
        {% if post.head_image %}
        <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..." />
        <!-- <a href="#!"><img class="card-img-top" src="{{ post.head_image.url }}" alt="..." /></a> -->
        {% else %}
        <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/600/200" alt="..." />
        <!-- <a href="#!"><img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/600/200" alt="..." /></a> -->
        {% endif %}
    </div>
    <!-- Post content-->
    <section class="mb-5">
        {{ post.get_content_markdown|safe }}
    </section>

    {% if post.tags.exists %}
    <i class="fas fa-tags"></i>
    {% for tag in post.tags.iterator %}
    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-light">{{ tag }}</span></a>
    {% endfor %}
    {% endif %}
    <hr />
</div>

{% if post.file_upload %}
<a href="{{ post.file_upload.url }}" type="button" class="btn btn-outline-dark" role="button" download>download:
    {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
    <i class="far fa-file-excel"></i>
    {% elif post.get_file_ext == 'csv' %}
    <i class="fas fa-file-csv"></i>
    {% else %}
    <i class="far fa-file"></i>
    {% endif %}
    {{ post.get_file_name }}
</a>
{% endif %}
<hr />


<section class="mb-5">
    <div class="card bg-light" id="comment-area">
        <div class="card-body">
            {% if user.is_authenticated %}
            <!-- Comment form-->
            <form class="mb-4" id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
            {% else %}
            <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal"
                data-target="#loginModal">
                Log in and leave a comment!
            </a>
            {% endif %}
        </div>
        <!-- Single comment-->
        {% if post.comment_set.exists %}
        {% for comment in post.comment_set.iterator %}
        <div id="comment-{{ comment.pk }}">
            <div class="flex-shrink-0 ml-2 mr-2"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                    alt="..." /></div>
            <div class="ms-3 ml-2">
                {% if comment.author == user %}
                <a role="button" class="btn btn-sm btn-info float-right mr-2" 
                id="comment-{{ comment.pk }}-update-btn" href="/blog/update_comment/{{ comment.pk }}/">
                    edit
                </a>
                {% endif %}
                <div class="fw-bold">{{ comment.author }} &nbsp; <small class="text-muted">{{ comment.created_at }}</small></div>
                {{ comment.content | linebreaks }}
                {% if comment.is_updated %}
                <small class="text-muted float-right mr-2">Updated: {{ comment.updated_at }}</small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}